FRONTEND_ORIGIN=http://123.207.16.156,http://gzuprintk.cn,http://www.gzuprintk.cn
INTERNAL_API_BASE_URL=http://backend:8000
NEXT_PUBLIC_API_BASE_URL=/
ADMIN_PASSWORD=wrprintk
GROUP_LEADER_PASSWORD=change_group_leader_password
SECRET_KEY=change_to_a_long_random_secret_key
