FRONTEND_ORIGIN=http://123.207.16.156:3000
INTERNAL_API_BASE_URL=http://backend:8000
NEXT_PUBLIC_API_BASE_URL=http://123.207.16.156:8000
ADMIN_PASSWORD=请改成你自己的管理员密码
GROUP_LEADER_PASSWORD=请改成你自己的组长密码
SECRET_KEY=请改成一串更长的随机字符串
